$primaryTextColor: #212121;
$secondaryColor: #757575;
$colorAccent: #2196f3;
$primaryWhiteColor: #ffffff;
$primaryBlackColor: #000000;
$secondaryBgColor: #f5f4fa;
$iconColor: #afb1b8;
$hoverBtn: #188ce8;
$footerBg: #2f303a;
$bgOpacityColor: rgba(47, 48, 58, 0.8);
$timing: 250ms cubic-bezier(0.4, 0, 0.2, 1);

$fontFamily: 'Open Sans', Roboto, sans-serif;
